.sidebar {
    display: flex; 
    flex-direction: column;
    width: 20%;
    min-height: calc(100vh - 1rem); // giảm 1rem để tránh tràn qua khung biên
    height: auto;
    background-color: var(--primary);  
}
.logo {
    display: flex; 
    padding-right: 40px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    height: 68px;
    line-height: 68px;
}
.logo-img {
    width: 68px;
    height: 68px;
}
.logo-text {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.list {
    padding: 20px 0 20px 40px;
}
.anchor {
    padding: 16px 0 16px 16px; 
    margin-bottom: 20px;
    width: 100%;
    display: inline-flex;
    color: #000;
    font-weight: 600;  
    align-items: center;  
    font-size: 16px; 
    &:hover { 
        color: #000; 
        cursor: pointer;
    }
}
.item {
    background-color: transparent;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-bottom: 20px;
} 
.item-icon { 
    font-size: 20px; 
    width: 20px; 
    height: 20px; 
    margin-right: 12px;
}
.item:hover {
    background-color: var(--fourth);
}


