.button {
    background-color: transparent;
    padding: 4px 12px;  
    margin: 0; 
    border: none;  
    border-radius: 4px;
    width: fit-content; 
    cursor: pointer;  
    display: flex; 
    align-items: center; 
    justify-content: center;
} 
